
main {
    width: 100vw;
    height: 100vh;
}

.person {
    width: 50px;
    height: 50px;
    position: absolute;
    z-index: 2;
}

.light {
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: 1;

}


.dark-screen {
    background: url(assets/images/dark.jpg);
    background-repeat: no-repeat;
    position: absolute;
    justify-content: center;
    align-items: center;
    z-index: ;
}




